    <div class="cover">
      <div class="navbar bg-nav">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><span>Diplir</span></a>
          </div>
          <div class="collapse navbar-collapse" id="navbar-ex-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li class="active">
                <a ui-sref="home">Home</a>
              </li>
              <li>
                <a ui-sref="login">Login</a>
              </li>
              <li>
                <a ui-sref="privacy">Privacy</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="cover-image" style="background-image : url('http://pingendo.github.io/pingendo-bootstrap/assets/blurry/800x600/10.jpg')"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h1 class="text-inverse">Diplir.com</h1>
            <p class="text-inverse">Online Computer's Distributor Located in Yogyakarta, Indonesia</p>
            <a class="btn btn-danger btn-lg">Contact Us</a>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-center">Latest News</h1>
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <img src="https://unsplash.imgix.net/photo-1422222948315-28aadb7a2cb8?w=1024&amp;q=50&amp;fm=jpg&amp;s=cfeadbd7a991e58b553bee29a7eeca55" class="img-responsive">
            <h2>Main ke Bantul</h2>
          </div>
          <div class="col-md-3">
            <img src="https://unsplash.imgix.net/photo-1423683249427-8ca22bd873e0?w=1024&amp;q=50&amp;fm=jpg&amp;s=5e57c661d0f772ce269188a6f5325708" class="img-responsive">
            <h2>Suasana Kota Jogja</h2>
          </div>
          <div class="col-md-3">
            <img src="https://unsplash.imgix.net/photo-1421986527537-888d998adb74?w=1024&amp;q=50&amp;fm=jpg&amp;s=e633562a1da53293c4dc391fd41ce41d" class="img-responsive img-rounded">
            <h2>Tahun Baru Mau Kemana ?</h2>
          </div>
          <div class="col-md-3">
            <img src="https://unsplash.imgix.net/reserve/N13RIliTTASBbuYyszgq_P9020914-54.jpg?w=1024&amp;q=50&amp;fm=jpg&amp;s=9c914a5c9288fc66860fde2c45521ff4" class="img-responsive">
            <h2>Liburan Semester</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-center">Gallery</h1>
          </div>
        </div><div class="row"><div class="col-md-12"><hr></div></div>
        <div class="row">
          <div class="col-md-4">
            <a><img src="https://unsplash.imgix.net/reserve/vof4H8A1S02iWcK6mSAd_sarahmachtsachen.com_TheBeach.jpg?w=1024&amp;q=50&amp;fm=jpg&amp;s=992e28f0751267625026c5a18b66953c" style="width:400px;height:300px;" class="img-gallery img-responsive"></a>
            <h3>Pikinik ke pantai gunung kidul</h3>
          </div>
          <div class="col-md-4">
            <a><img src="https://unsplash.imgix.net/photo-1414490929659-9a12b7e31907?w=1024&amp;q=50&amp;fm=jpg&amp;s=f838066e7aa9eab9d1ccc28fd5ec9574" style="width:400px;height:300px;" class="img-gallery img-responsive"></a>
            <h2>Menikmati Senja di pantai parangtritis</h2>
          </div>
          <div class="col-md-4">
            <a><img src="https://unsplash.imgix.net/photo-1418479631014-8cbf89db3431?w=1024&amp;q=50&amp;fm=jpg&amp;s=478a9a2196033db7c0bf3c8ba3707f4d" style="width:400px;height:300px;" class="img-gallery img-responsive"></a>
            <h2>Secangkir kopi sebelum aktivitas</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <a><img src="https://ununsplash.imgix.net/photo-1422479516648-9b1f0b6e8da8?w=1024&amp;q=50&amp;fm=jpg&amp;s=c5f2b3df2a4c71532b3b354b8766503c" style="width:400px;height:300px;" class="img-gallery img-responsive"></a>
            <h3>Ruang kerja baru ?</h3>
          </div>
          <div class="col-md-4">
            <a><img src="https://unsplash.imgix.net/photo-1423439793616-f2aa4356b37e?w=1024&amp;q=50&amp;fm=jpg&amp;s=3b42f9c018b2712544debf4d6a4998ff" style="width:400px;height:300px;" class="img-gallery img-responsive"></a>
            <h3>Mobil lama yang berkesan</h3>
          </div>
          <div class="col-md-4">
            <a><img src="https://unsplash.imgix.net/photo-1422513391413-ddd4f2ce3340?w=1024&amp;q=50&amp;fm=jpg&amp;s=282e5978de17d6cd2280888d16f06f04" style="width:400px;height:300px;" class="img-gallery img-responsive"></a>
            <h2>Menguji kamera terbaru</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="section section-info">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-center">Karyawan</h1>
            <p class="text-center">Pengurus dari Dipli.com</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <img src="http://www.fltechnicsparts.com/resources/_headers/person2.png" style="width:200px;height:200px;" class="center-block img-circle img-responsive image-size">
            <h3 class="text-center">Mas Kanjeng</h3>
            <p class="text-center">Developer</p>
          </div>
          <div class="col-md-4">
            <img src="http://www.creditmatters.org/wp-content/uploads/2015/08/person_31.png" style="width:200px;height:200px;" class="center-block img-circle img-responsive image-size">
            <h3 class="text-center">AA Gatot</h3>
            <p class="text-center">Developer</p>
          </div>
          <div class="col-md-4">
            <img src="http://www.skafinancial.co.uk/wp-content/uploads/2015/03/business_person_001_w640.png" style="width:200px;height:200px;" class="center-block img-circle img-responsive image-size">
            <h3 class="text-center">Mr Soebur</h3>
            <p class="text-center">Developer</p>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-center">Contact Us</h1>
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <img class="center-block img-responsive" src="http://maps.googleapis.com/maps/api/staticmap?center=Yogyakarta,Mali&amp;zoom=12&amp;size=1400x200&amp;sensor=false">
          </div>
          <div class="col-md-4">
            <form role="form">
              <div class="form-group">
                <label class="control-label" for="exampleInputPassword1">Name</label>
                <input class="form-control" id="exampleInputPassword1" placeholder="Name" type="text">
              </div>
              <div class="form-group">
                <label class="control-label" for="exampleInputEmail1">Email address</label>
                <input class="form-control" id="exampleInputEmail1" placeholder="Enter email" type="email">
              </div>
              <div class="form-group">
                <label class="control-label" for="exampleInputEmail1">Pesan</label>
                <textarea class="form-control" id="exampleInputEmail1">Isi Pesan</textarea>
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <footer class="section section-primary">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <h1>Diplir</h1>
            <p>Online Computer's Accesories Located in Yogyakarta, Indonesia</p>
          </div>
          <div class="col-sm-6">
            <p class="text-info text-right">
              <br>
              <br>
            </p>
            <div class="row">
              <div class="col-md-12 hidden-lg hidden-md hidden-sm text-left">
                <a href="#"><i class="fa fa-3x fa-fw fa-instagram text-inverse"></i></a>
                <a href="#"><i class="fa fa-3x fa-fw fa-twitter text-inverse"></i></a>
                <a href="#"><i class="fa fa-3x fa-fw fa-facebook text-inverse"></i></a>
                <a href="#"><i class="fa fa-3x fa-fw fa-github text-inverse"></i></a>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 hidden-xs text-right">
                <a href="#"><i class="fa fa-3x fa-fw fa-instagram text-inverse"></i></a>
                <a href="#"><i class="fa fa-3x fa-fw fa-twitter text-inverse"></i></a>
                <a href="#"><i class="fa fa-3x fa-fw fa-facebook text-inverse"></i></a>
                <a href="#"><i class="fa fa-3x fa-fw fa-github text-inverse"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  